// -INDEX
.container_main {
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90% 25%;
    grid-template-areas: 
    "carrousel"
    "banner"
    ;
    padding: 1px;
    @include mobile-min {
        @include responsive-grid(1fr, 0.6fr 0.5fr, 0, "carrousel" "banner");
    }
    @include mobile {
        @include responsive-grid(1fr, 0.6fr 0.5fr, 0,"carrousel" "banner");

    }
    @include tablet {
        @include responsive-grid(1fr, 0.6fr 0.5fr, 0,"carrousel" "banner");
    }
    @include desktop {
        @include responsive-grid(1fr, 0.6fr 0.5fr, 0,"carrousel" "banner");
    }
    .container_carrousel {
        grid-area: carrousel; 
        @include mobile-min {
            margin: 10px 0px 20px 0px !important;
            height: 50%;
        }
        @include mobile {
            margin: 10px 0px 20px 0px !important;
            height: 50%;
    
        }
    }
    .container_banner {
        grid-area: banner;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
        grid-template-areas: 
        "img_sobre suscrib"
        ;
        padding: 1px;
        @include mobile-min {
            @include responsive-grid(1fr, 0.3fr 0.4fr, 0, "carrousel" "banner");
        }
        @include mobile {
            @include responsive-grid(1fr, 0.3fr 0.4fr, 0,"img_sobre" "suscrib");
        }
        @include tablet {
            @include responsive-grid(1fr, 0.3fr 0.4fr, 0,"img_sobre" "suscrib");
        }
        @include desktop {
            @include responsive-grid(1fr, 0.3fr 0.4fr, 0,"img_sobre" "suscrib");
        }
        .container_suscripcion_img {
        grid-area: img_sobre;
        margin-left: 10px;
        margin-top: 10px;
        text-align: center;
            img {
                width: 85%;
                justify-content: center;
                vertical-align: middle;

                &:hover {
                    transform: rotate(-25deg);
                }
                @include mobile-min {
                    width: 50%;
                }
                @include mobile {
                    width: 50%;
                }
                @include tablet {
                    width: 30%;
                }
                @include desktop {
                    width: 30%;
                }
            }  
        }
        .container_suscripcion {
            grid-area: suscrib;
            margin: 10px;
            grid-area: suscrib;
            display: flex;
            flex-direction: column;
            padding: 5px;
            text-align: center;
            font-family: $fuente-texto;
            aside {
                
                h1 {
                    font-size: 3rem;
                    font-family: $fuente-titulo1;
                    color: $danger;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
     }
    
}

// ----SOBRE MI
.container_main_about {
    grid-area: main;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 100%;
    grid-template-areas:
    "container_about"
    "container_stickers"
    ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    .container_about {
        width: 70%;
        margin: 0 auto;
        display: block;
        text-align: center;
        padding: 5px;
        grid-area: container_about;
 
        #about_img {
            width: 25%;
            border-radius: 100%;
            margin-top: 40px;
        }
        .titulo_about {
            font-size: 2.5rem;
            font-family: $fuente-titulo1;
            color: $primary;
            margin-top: 20px;
            font-style: bold;
            &:hover {
                font-size: 3rem;
            }
        }
        .text_about {
            color: $color_texto;
            margin-top: 10px;
        }
    }
    .container_stickers_about {
        grid-area: container_stickers;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        img {
            width: 50%;
            margin-bottom: 10px;
        }
    }
}

// ----PORTFOLIO
.container_main_portfolio {
    grid-area: main;
    padding: 1px;
    // display: grid;
    // grid-template-rows: 1fr 2fr;
    // grid-template-areas: 
    // "icons"
    // "exp";
    .container_portfolio {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 2fr;
        grid-template-areas: 
        "icons"
        "exp";
        @include mobile-min {
            grid-template-rows: 0.1fr 1fr;
        }
        
        @include mobile {
            grid-template-rows: 0.1fr 1fr;
        }
        @include tablet {
            grid-template-rows: 0.1fr 1fr;
        }
        
        @include desktop {
            grid-template-rows: 0.1fr 1fr;
        }
        

        .container_porfolio_icons {
            width: 100%;
            // height: 300px;
            grid-area: icons;
            display: flex;
            text-align: center;
            flex-direction: row;
            justify-content: space-around;
            @include mobile-min {
                flex-direction: column;
                height: 550px;
            }
            
            @include mobile {
                flex-direction: column;
                height: 550px;
                
            }
            
            @include tablet {
                flex-direction: column;
                
            }
            
            @include desktop {
                height: 160px;
            }
            .icon_portfolio {
                a {
                    text-decoration: none;
                    .img_portfolio {
                        width: 180px;
                        margin: 20px 20px 0px 20px;
                        &:hover {
                            width: 250px;
                        }
                        @include mobile-min {
                            width: 100px;
                            margin: 5px 5px 0px 5px;
                        &:hover {
                            width: 120px;
                        }
                        }
                        
                        @include mobile {
                            width: 100px;
                            margin: 5px 5px 0px 5px;
                            &:hover {
                            width: 120px;
                        } 
                        }
                        
                        @include tablet {
                            width: 100px;
                            margin: 10px 10px 0px 10px;
                            &:hover {
                            width: 120px;
                        }
                        }
                        
                        @include desktop {
                            width: 100px;
                            margin: 10px 10px 0px 10px;
                            &:hover {
                            width: 120px;
                        }
                        }
                    }
                    .titulo_portfolio {
                        font-size: 1.6rem;
                        color: $primary;
                        letter-spacing: 2px;
                        font-family: $fuente-titulo2;
                        @include mobile-min {
                            font-size: 1rem;
                        }
                        
                        @include mobile {
                            font-size: 1rem;
                        }
                        
                        @include tablet {
                            font-size: 1.3rem;
                        }
                        
                        @include desktop {
                            font-size: 1.5rem;
                        }
                    }
                    &:hover {
                        text-decoration: overline;
                        color: $danger;
                    }
                }
            }
            
        }
            
        }
        .container_portfolio-exp {
            grid-area: exp;
            display: flex;
            padding: 10px;
            text-align: center;
            flex-direction: column;

            .container_portfolio-prod {
                width: 100%;
                margin-bottom: 20px;
                .titulo_portfolio-exp {
                    font-size: 1.2rem;
                    color: $primary;
                    letter-spacing: 2px;
                    margin-top: 30px;
                    @include mobile-min {
                        font-size: 0.8rem;
                    }
                    
                    @include mobile {
                        font-size: 0.8rem;
                    }
                    
                    @include tablet {
                        font-size: 1rem;
                    }
                    
                    @include desktop {
                        font-size: 1.3rem;
                    }
                }
                .imagenes_proyectos {
                    width: 250px;
                    margin: 10px;
                    @include mobile-min {
                        width: 150px;
                        margin: 5px;
                    }
                    
                    @include mobile {
                        width: 150px;
                        margin: 5px;
                    }
                    
                    @include tablet {
                        width: 150px;
                        margin: 5px;
                    }
                    
                    @include desktop {
                        width: 150px;
                        margin: 5px;
                    }
                }
            }
        }
    }


// ---TIENDA
.container_main-tienda {
    grid-area: main;
    .container_tienda-animation {
        width: 100%;
        height: 200px;
        #gif_tienda {
            width: 200px;
            justify-content: right;
            animation-name: tienda-animacion;
            animation-duration: 4s;
            animation-delay: 1s;
            position: relative;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }
    }

    .container_tienda-prod {
        display: inline-flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        .card {
            align-items: center;
            margin: 10px !important;
            border: 1px solid $primary !important;
            .card-title {
                color: $primary !important;
                font-family: $fuente-titulo2 !important;
                font-size: 1.5rem;
            }
            .btn {
                background-color: $primary !important;
                border: 0 !important;
                &:hover {
                    background-color: rgba(137, 43, 226, 0.249) !important;
                    color: black !important;
                }
            }

        }
    }
}

// -----CONTACTO
.container_main-contacto {
    width: 100%;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: 50%;
    grid-template-areas: 
    ".container_gracias container_form container_form";
    justify-content: center;
    @include mobile-min {
        @include responsive-grid(1fr, 0.3fr 1fr, 10, "container_gracias" "container_form");
    }
    @include mobile {
        @include responsive-grid(1fr, 0.3fr 1fr, 10,"container_gracias" "container_form");
    }
    @include tablet {
        @include responsive-grid(0.5fr 1fr,1fr, 10,"container_gracias container_form");
    }
    @include desktop {
        @include responsive-grid(1fr, auto, 0,"container_gracias" "container_form");
    }
    .container_gracias {
        grid-area: container_gracias;
        @include mobile-min {
            height: 200px;
            display: flex;
            align-items: center;
            text-align: center;
         }
         @include mobile {
            height:200px;
            display: flex;
            align-items: center;
            text-align: center;
          }
          @include tablet {
            height:200px;
            display: flex;
            align-items: center;
            text-align: center;
          }
          @include desktop {
            height:200px;
            display: flex;
            align-items: center;
            text-align: center;
          }
        img {
            width: 400px;
            margin-top: 50px;
            @include mobile-min {
                width: 150px;
                margin: 0px auto;
             }
             @include mobile {
                 width: 200px;
                 margin: 0px auto;
              }
              @include tablet {
                 width: 200px;
                 margin: 0px auto;
              }
              @include desktop {
                 width: 200px;
                 margin: 0px auto;
              }
        }
    }
    .container_form {
        width: 80%;
        margin-top: 40px;
        grid-area: container_form;
        text-align: center;
        font-family: $fuente-texto !important;
        .form_field {
            @include mobile-min {
            width: 70%;
            margin: 30px;
            justify-content: center !important;
        }
        @include mobile {
            width: 90%;
            justify-content: center !important;
            margin: 20px;
        }
        @include tablet {
            width: 90%;
            margin: 50px;
            justify-content: center !important;
         }
         @include desktop {
            width: 90%;
            margin: 50px;
            justify-content: center !important;
         }
        }
        
        .box_form {
            @include mobile-min {
                justify-content: center !important;
            }
            @include mobile {
                justify-content: center !important;
            }
            @include tablet {
                width: 90%;
                margin-top: 60px;
                margin-right: 50px;
             }
        }
         }
        .contactame_text {
            text-align: start !important;
            font-size: 3.5rem;
            font-family: $fuente-titulo1;
            color: $primary;
            @include mobile-min {
                font-size: 2rem;
            }
            @include mobile {
                font-size: 2rem;
            }
            @include tablet {
                font-size: 2rem;
             }
        }

        .form_group {
            width: 100%;
            margin: 10px 0px;
            text-align: center;
            font-family: $fuente-texto !important;
            color: $color-texto !important;
            .btn {
                margin-right: 1250px ;
                &:hover {
                background-color: $danger !important;
                color: azure !important;
                     }
                }
        }
}