@keyframes tienda-animacion {
    0% {left: 100%; top: 0;}
    25% {left: 75%; top: 0;}
    50% {left: 50%; top: 0;}
    75% {left: 25%; top: 0;}
    100% {left: 0%; top: 0;}
}

// -BOOTSTRAP
$primary: rgba(137, 43, 226, 0.651);
$danger: #FE8F83;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
);

// --
$fuente-texto: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$fuente-titulo1: "fuente_aye_doble";
$fuente-titulo2: "aye_myfont";
$color-texto: rgb(85, 112, 136);